* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clear {
  clear: both;
}
/* header 2 */
.header2 {
  background-color: #0e7346;
  height: 40px;
}
.header2 i {
  float: right;
  font-size: 24px;
  padding-right: 10px;
  padding-top: 8px;
  color: #fff;
}
.header2 i:hover {
  opacity: 0.8;
}
/* menu an */

.infoo {
  margin-top: 32px;
}
.dn:hover {
  color: #fff;
  opacity: 0.8;
}
.dk:hover {
  opacity: 0.8;
  color: #fff;
}
.dn {
  color: #fff;
  background-color: #0e7347;
  text-decoration: none;
  padding: 4px 8px;
  margin-left: 32px;
}
.dk {
  color: #fff;
  background-color: #0e7347;
  text-decoration: none;
  padding: 4px 0px;
  margin-left: 24px;
  padding-right: 28px;
  padding-left: 16px;
}
.infoo p {
  padding: 4px 0px;
  padding-left: 14px;
  background-color: #0e7347;
  width: 254px;
  margin-left: 32px;
  margin-top: 18px;
  color: #fff;
}
.open1.menuan {
  display: flow-root;
}
.menuan {
  z-index: 2000;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}
.menuu {
  overflow: auto;
  position: absolute;
  left: 0;
  width: 340px;
  height: 100%;
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  animation: menu ease.5s;
}
.menu-close {
  height: 44px;
}
.menu-close i {
  float: right;
  padding: 8px;
  opacity: 0.6;
  margin-top: 8px;
}
.menu-close:hover i {
  opacity: 1;
}
.menu-search {
  position: relative;
  margin-bottom: 30px;
}
.menu-search .ti_search {
  position: absolute;
  right: 14%;
  top: 0;
  background-color: #ffc107;
  height: 38px;
  width: 38px;
  padding-left: 12px;
  padding-top: 4px;
  color: #fff;
}
.menu-search .ti_search:hover {
  opacity: 0.6;
}
.menu-search input {
  margin-left: 12px;
  height: 38px;
  padding-left: 12px;
  border: 1px solid #ced4da;
  width: 75%;
}
.menu-search input:focus {
  outline: 0;
}
.menuan li {
  list-style: none;
  padding: 8px;
  border-bottom: 1px solid #ced4da;
}
.menuan li i {
  float: right;
  font-size: 20px;
  font-weight: bold;
}
.menuan li:hover {
  background-color: #f8f9fa;
}
.menuan b {
  margin-left: 38px;
}
.menuan li a {
  text-decoration: none;
  color: #000;
}
/* header chinh */

.header {
  background-color: #0e7347;
  height: 126px;
  right: 0px;
  left: 0px;
  position: fixed;
  z-index: 1000;
  /* display: none; */
}
/* navi1 */

.navi1 {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background-color: #0e7347;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.navi > li {
  display: inline;
}
.navi li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
}
.navi li:first-child a {
  margin-left: 1vw;
}
.navi li i {
  color: #fff;
}
.info a:hover {
  opacity: 0.8;
  color: #ccc;
}
.info {
  position: absolute;
  right: 5%;
  color: #fff;
  /* margin-right: 14px; */
}
.px {
  padding-left: 6px;
}
.info a {
  color: #fff;
  text-decoration: none;
  padding: 4px;
}
/* dang nhap dang ki*/

.open.login {
  display: flow-root;
}
.login {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 1000;
}
.register-contain {
  background: #fff;
  width: 500px;
  min-height: 440px;
  position: relative;
  max-width: calc(100%-100px);
  margin-top: 12%;
  margin-left: 30%;
  animation: loginFadein ease.5s;
  z-index: 1000;
}
.register-body {
  padding: 16px;
}
.register-button {
  margin-top: 18px;
  background: #157347;
  color: #fff;
  width: 100%;
  border-radius: 45px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.9;
  border: none;
}
.register-button:hover {
  opacity: 1;
}
.login-header p {
  font-size: 14px;
  margin-left: 112px;
  margin-top: 30px;
}
.login-contain {
  background: #fff;
  width: 500px;
  min-height: 380px;
  position: relative;
  max-width: calc(100%-100px);
  margin-top: 14%;
  margin-left: 30%;
  animation: loginFadein ease.5s;
  z-index: 1000;
}
.login-header {
  background: #fff;
  height: 54px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #000;
  border-bottom: 1px solid #ccc;
  padding: 14px;
}
.login-close {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 16px;
  opacity: 0.6;
}
.login-close:hover {
  cursor: pointer;
  opacity: 1;
}
.login-lable {
  display: block;
}
.login-body {
  padding: 16px;
  border-bottom: 1px solid #ccc;
}
.login-input {
  font-size: 16px;
  padding: 6px 12px;
  width: 100%;
  line-height: 24px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  border-radius: 4px;
}
.login-input:focus {
  outline: 0;
}
.login-body p {
  font-size: 14px;
  margin-bottom: 16px;
}
.login-body p a {
  text-decoration: none;
  color: #0e7346;
}
.login-body p a:hover {
  color: #0e6def;
}
.login-button {
  background: #157347;
  color: #fff;
  width: 100%;
  border-radius: 45px;
  height: 36px;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.9;
  border: none;
}
.login-button:hover {
  opacity: 1;
}
.login-footer {
  text-align: center;
  margin-top: 16px;
}
.login-footer i {
  opacity: 0.8;
  font-size: 14px;
}
.login-footer button {
  margin-top: 8px;
  width: 200px;
  border-radius: 45px;
  min-height: 36px;
  font-size: 16px;
  color: #0e6def;
  border: 1px solid #0e6def;
}
.login-footer button:hover {
  color: #fff;
  background: #0e6def;
}
@keyframes loginFadein {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes menu {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/* navi 2 */
.navi2 {
  display: flex;
  position: relative;
}
.search input:focus {
  outline: 0;
}
.list {
  position: absolute;
  top: 0;
  left: 20%;
  margin-top: 25px;
}
.list:hover > a {
  color: #fff;
}
.list > a {
  color: #fff;
  border-radius: 6px;
  background-color: #198754;
  text-decoration: none;
  font-size: 16px;
  padding: 12px;
}
.dropdown_menu li {
  list-style: none;
  padding: 8px;
  width: 100%;
}
.dropdown_menu li:hover {
  opacity: 0.6;
  text-decoration: underline;
}
.dropdown_menu a {
  text-decoration: none;
  color: #000;
}
.list:hover .dropdown_menu {
  display: block;
  text-decoration: none;
}
.list .dropdown_menu {
  display: none;
  background-color: #fff;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.search {
  position: absolute;
  right: 45%;
  transform: translateX(50%);
}
.search input {
  width: 28vw;
  height: 42px;
  color: #000;
  font-size: 16px;
  /* margin-left: 30vw; */
  padding: 6px 12px;
  margin-top: 16px;
  border: none;
}
.search .ti_search {
  display: inline-block;
  background: #ffc107;
  width: 42px;
  line-height: 43px;
  color: #fff;
  padding-left: 12px;
  margin-left: -6px;
}
.search .ti_search:hover {
  cursor: pointer;
  opacity: 0.8;
}
.cart {
  position: absolute;
  right: 11%;
  /* margin-top: 10px; */
  border: 1px solid #479f76;
  background-color: #198754;
  /* line-height: 30px; */
  width: 120px;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  top: 8px;
  bottom: 6px;
}
.cart i {
  float: left;
  margin-left: 10px;
  margin-top: 6px;
  margin-right: 8px;
}
.cart .amount {
  border-radius: 45%;
  background-color: #fff;
  width: 16px;
  color: #000;
  margin-left: 42%;
  height: 18px;
  position: absolute;
  bottom: 4px;
}
.cart .amount p {
  line-height: 18px;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 719px) {
  .header {
    display: none;
  }
  .content {
    padding-top: 10px;
  }
  .login-contain {
    width: 100%;
    margin-left: 1px;
  }
  .register-contain {
    width: 100%;
    margin-left: 1px;
  }
  .login {
    position: fixed;
    z-index: 10000;
  }
  .header-2 {
    padding-top: 0;
  }
}
@media (min-width: 720px) and (max-width: 1000px) {
  .header {
    display: none;
  }
  .content {
    padding-top: 10px;
  }
  .login {
    position: fixed;
    z-index: 10000;
  }
  .header-2 {
    padding-top: 0;
  }
}
@media (min-width: 1001px) {
  .header2 {
    display: none;
  }
  .menuan {
    display: none;
  }
  .menuan {
    display: none;
  }
}
